.place__url-heading {
  color: #aaa;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (width: 767px) {
  .place__url-heading {
    margin-bottom: 10px;
  }
}